.contact{
    margin-top: 4rem;
    height: 80vh;
}
.mainc{
    display: flex;

}
.leftc{
    width: 40vw;
    margin-left: 7rem;
    margin-top: 2rem;

    

}
.rightc{
    width: 60vw;
    margin-left: 7rem;
    margin-top: 2.5rem;
    margin-right: 10rem;
}
.contact-head{
   color:hsl(0, 0%,20%);
    font-size: 2.25rem;
    text-align: center;
}
.inner-head{
    color:hsl(0, 0%,20%);
    font-size: 2.25rem;
    text-align: center;
}
.para{
    margin: 1.5rem 0;
    text-align: left;
}
.emailp-div{
    display: flex;
    
}
.phone-div{
    display: flex;
    margin: 1rem 0;


}
.location-div{
    display: flex;
}

.details{
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;

}
.icon-div{
    margin-top: 0.6rem;
}
.address{
    margin-bottom: 1.5rem;
}
.custom-input{
    border: none;
    width: 100%;
    padding: 18px 0 18px 20px;
    border-radius: 4px;
    border: 1px solid grey;
    font-family: Outfit;
    font-size: 18px;
    margin-top: 1rem;
}

.textarea{
    border: none;
    width: 100%;
    height: 7rem;
    padding: 18px 0 18px 20px;
    border-radius: 4px;
    border: 1px solid grey;
    font-family: Outfit;
    font-size: 18px;
    margin-top: 1rem;

}
.submit-btn{
    border: none;
    background-color: hsl(0, 0%,20%);
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    margin-top: 2rem;
}
.submit-btn:hover {
    background-color:hsl(0, 3%, 8%);
}
.email{
    display: flex;
}
.icon-link{
    text-decoration: none; 
    color: inherit; 
}
.icon-link {
    text-decoration: none; /* Remove underline from links */
}

.icon-div-e, .icon-div-p, .icon-div-m {
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.icon-div-e:hover {
    color: red; /* Red color on hover for Email icon */
}

.icon-div-p:hover {
    color: blue; /* Blue color on hover for Phone icon */
}

.icon-div-m:hover {
    color: orange; /* Orange color on hover for Location icon */
}

