/* Base styles for the navbar */
.navbar {
    box-sizing: border-box;
    overflow: hidden;
    height: 5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 1rem 2rem; /* Adjust padding to be more responsive */
    background:hsl(0, 0%,98%);
}
.navbar.scrolled{
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);


}

.nav-heading {
    font-size: 1.2rem;
    font-weight: 500;
    color:hsl(0, 0%,20%);
}

.navitems {
    display: flex;
    align-items: center;
}

.navitems > li {
    list-style: none;
    margin: 0 1rem; 
}

.navitems > li a {
    color: hsl(0, 0%,20%);
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
}

.navitems > li a:hover {
    color: hsl(0, 0%,20%);
    border-bottom: 2px solid  hsl(0, 0%,20%);
}

.logo {
    height: 4rem;
    width: 4rem;
    margin-right: 1rem; /* Adjust margin for better spacing */
}

.navbtn {
    display: none; /* Initially hide button on larger screens */
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack items vertically on smaller screens */
        height: auto;
        padding: 1rem;
    }

    .navitems {
        display: none; /* Hide the items on small screens initially */
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
    }

    .navitems.active {
        display: flex; /* Show items when active */
    }

    .navitems > li {
        margin: 0.5rem 0; /* Adjust margin for vertical alignment */
    }

    .navbtn {
        display: block; /* Show the button on smaller screens */
        background: white;
        color: #000;
        padding: 0.7rem;
        border-radius: 5px;
        font-size: 0.8rem;
        border: none;
        margin: 1rem 0;
    }
    
    
}
/* Media Queries for Large Screens */
@media (min-width: 1200px) {
    .navbar {
        padding: 1rem 3rem; /* Adjust padding for extra space on larger screens */
    }

    .navitems {
        /* Ensure nav items are well spaced out on larger screens */
        margin: 0;
    }

    .navitems > li {
        margin: 0 2rem; /* Increase margin between items */
    }

    .navitems > li a {
        font-size: 1rem; /* Increase font size slightly for better visibility */
    }

    .navbtn {
        /* Hide the nav button on larger screens */
        display: none;
    }
}
